
.portfolio-item-warp {
    
    position: relative;

    .portfolio-title {
        position: absolute;
        top: 0;
        right: -13%;
        color: $gray-400;
        transform-origin: 0 0;
        transform: rotate(90deg);

    }
}

.portfolio-hover {
    position: relative;
    height: 100%; 
  
    background-size:cover;
    background-position-x:center;
     padding-bottom:300px;
    >.portfolio-hover-content {
        position: absolute;
        top: 0;
        bottom: 0;
        left: 0;
        right: 0;
        opacity: 0;
        display: flex;
        height: 100%;
     
        background-color: $primary;
        transition: all .3s linear;

    
        &.content-center {
            flex-direction: column;
            justify-content: center;
            align-items: center;
        }

     
        &.content-between {
            justify-content: space-between;
            padding: $spacer * 2;
           
        }
    }

    
    &:hover {
        .portfolio-hover-content {
            opacity: 1;
        }

        .content-center,
        .content-between {

            .portfolio-name,
            .portfolio-subname,
            .portfolio-price,
            .portfolio-add-to-cart {
                opacity: 1;
                transform: translate(0);
            }
        }
    }
}



.portfolio-name,
.portfolio-subname,
.portfolio-price,
.portfolio-add-to-cart {
    a {
        text-decoration: none;
        transition: all .3s ease-in-out;
    }

    &:hover {
        a {
            color: white;
        }
    }
}

.portfolio-name {
   a {
        color: $white;
        font-size: 36px;
    }
}

.portfolio-subname {
    a {
        color: white;
    }
}

.portfolio-price {
    margin-top: $spacer;
    span {
        font-family: 'Open Sans', sans-serif;
        font-size: 20px;
        font-weight: bold;
        &.light {
            color: $white;
        }
  
    }
}

.portfolio-hover-content {

  
    &.content-center {
        .portfolio-name {
            transform: translateX(35px);
            transition: all .4s ease-in-out;
        }

        .portfolio-subname {
            transform: translateX(25px);
            transition: all .6s ease-in-out;

        }
    }

    &.content-between {
        .portfolio-name {
            transform: translateX(35px);
            transition: all .4s ease-in-out;
        }

        .portfolio-subname {
            transform: translateX(15px);
            transition: all .8s ease-in-out;
        }

        .portfolio-price {
            transform: translateX(15px);
            transition: all .8s ease-in-out;
        }

        .portfolio-add-to-cart {
            transform: translateX(25px);
            transition: all .8s ease-in-out;
        }
    }
}

@media (max-width:480px){
    .portfolio-hover {
    position: relative;
    height: 100%; 
  
    background-size:cover;
    background-position-x:center;
     padding-bottom:300px;
    >.portfolio-hover-content {
        position: absolute;
        top: 0;
        bottom: 0;
        left: 0;
        right: 0;
        opacity: 0;
        display: flex;
        height: 100%;
     
        background-color: $primary;
        transition: all .3s linear;

    
        &.content-center {
            flex-direction: column;
            justify-content: center;
            align-items: center;
        }

     
        &.content-between {
            justify-content: space-between;
            padding: $spacer * 2;
           
        }
    }

    
    &:hover {
        .portfolio-hover-content {
            opacity: 1;
        }

        .content-center,
        .content-between {

            .portfolio-name,
            .portfolio-subname,
            .portfolio-price,
            .portfolio-add-to-cart {
                opacity: 1;
                transform: translate(0);
            }
        }
    }
}


}