.Page {
  
  .Page-imgSection {
    padding-left: 10%;
    .Page-img {
      position: relative;
      height: 0;
      padding-bottom: 60%; 
      
      img {
        max-height: 660px;
       
      }
     
     
    }
    
  }

 
}
 .btn{
    font-family: 微軟正黑體;
    font-weight: bold;
   
  }.h2{
  font-family: 微軟正黑體;
 }