
.product-item-warp {
    
    position: relative;

    .product-title {
        position: absolute;
        top: 0;
        right: -13%;
        color: $gray-400;
        transform-origin: 0 0;
        transform: rotate(90deg);

    }
}

.product-hover {
    position: relative;
    height: 77%; 
    width: 87%;
    background-size:cover;
    background-position-x:center;
     padding-bottom:100px;
    >.product-hover-content {
        position: absolute;
        top: 0;
        bottom: 0;
        left: 0;
        right: 0;
        opacity: 0;
        display: flex;
        height: 100%;
     
        background-color: $primary;
        transition: all .3s linear;

    
        &.content-center {
            flex-direction: column;
            justify-content: center;
            align-items: center;
        }

     
        &.content-between {
            justify-content: space-between;
            padding: $spacer * 2;
           
        }
    }

    
    &:hover {
        .product-hover-content {
            opacity: 1;
        }

        .content-center,
        .content-between {

            .product-name,
            .product-subname,
            .product-price
           {
                opacity: 1;
                transform: translate(0);
            }
        }
    }
}



.product-name,
.product-subname,
.product-price {
    a {
        text-decoration: none;
        transition: all .3s ease-in-out;
    }

    &:hover {
        a {
            color: white;
        }
    }
}

.product-name {
   a {
        color: $white;
        font-size: 36px;
    }
}

.product-subname {
    a {
        color: white;
    }
}

.product-price {
    margin-top: $spacer;
    span {
        font-family: 'Open Sans', sans-serif;
        font-size: 20px;
        font-weight: bold;
        &.light {
            color: $white;
        }
  
    }
}

.product-hover-content {

  
    &.content-center {
        .product-name {
            transform: translateX(35px);
            transition: all .4s ease-in-out;
        }

        .product-subname {
            transform: translateX(25px);
            transition: all .6s ease-in-out;

        }
    }

    &.content-between {
        .product-name {
            transform: translateX(35px);
            transition: all .4s ease-in-out;
        }

        .product-subname {
            transform: translateX(15px);
            transition: all .8s ease-in-out;
        }

        .product-price {
            transform: translateX(15px);
            transition: all .8s ease-in-out;
        }

       
    }
}

@media (max-width:480px){
    .product-hover {
    position: relative;
    height: 77%; 
    width:100%;
    background-size:cover;
    background-position-x:center;
     padding-bottom:80px;
    >.product-hover-content {
        position: absolute;
        top: 0;
        bottom: 0;
        left: 0;
        right: 0;
        opacity: 0;
        display: flex;
        height: 100%;
     
        background-color: $primary;
        transition: all .3s linear;

    
        &.content-center {
            flex-direction: column;
            justify-content: center;
            align-items: center;
        }

     
        &.content-between {
            justify-content: space-between;
            padding: $spacer * 2;
           
        }
    }

    
    &:hover {
        .product-hover-content {
            opacity: 1;
        }

        .content-center,
        .content-between {

            .product-name,
            .product-subname,
            .product-price {
                opacity: 1;
                transform: translate(0);
            }
        }
    }
}


}