 .style-intro {
   .intro-content {
     .content {
       font-size: 15px;
       line-height: 28px;
      text-align: justify;
      padding: 0 17%;
     }
   }
   .card-designer {
    .card-head {
      .img {
        position: relative;
        width: 70%;
        height: 0;
        padding-bottom: 50%;
        margin-top:25%;
        margin-bottom: 20%;
        margin-left: 80%;
        background-position: auto;
        background-size: cover;
      
        &:after {
          position: absolute;
          display: block;
          content: "";
          top: -25%;
          right: 55%;
          left: -23%;
          bottom: -25%;
          background-color: #d3a886;
          z-index: -1;
        }
      }
    }
  }
  }
