.logo-icon {
  width: 40px;
}
.font-times {
  font-family: Times !important;
}
.font-Hel {
  font-family: Helvetica Neue !important;
}
.Ubuntu {
  font-family: "Ubuntu", sans-serif;
}
.Volkhov {
  font-family: "Volkhov", serif;
}
.bg-cover {
  background-size: cover;
  background-position: center center;
}
.pgHightRevise {
  min-height: calc(100vh - 83.38px - 205.6px);
}
.expandToside {
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
}
.form-control,
.form-control-lg {
  background-clip: border-box;
}
.negative-row-margin {
  margin-left: -15px;
  margin-right: -15px;
}
.isValid {
  border-color: #28a745;
}
.isInValid {
  border-color: #dc3545;
}
@keyframes fadeOut {
  from {
    transform: translateY(100%);
    opacity: 0;
  }
  to {
    transform: translateY(0);
    opacity: 1;
  }
}
.fadeOut {
  animation: fadeOut 1s;
  animation-iteration-count: 1;
}

.bg-fixed {
  display: none;
  @include media-breakpoint-up(md) {
    display: block;
  }
  background-size: cover;
  background-position: center 70%;
  background-attachment: fixed;
}
.h7 {
  font-size: 0.875rem;
  margin-bottom: 0.5rem;
  font-weight: 500;
  line-height: 1.2;
}
.h8 {
  font-size: 0.75rem;
  margin-bottom: 0.5rem;
  font-weight: 500;
  line-height: 1.2;
}
